.shifts
  %h1
    = @start_date.strftime '%B %e, %Y'
    &mdash;
    = @end_date.strftime '%B %e, %Y'
  = link_to shifts_url(start_date: @start_date - 1.week), class: 'prev-week' do
    %button{ disabled: @start_date - 1.week < Shift::BEGINNING_OF_TIME }
      &larr;
      Previous week
  = link_to shifts_url(start_date: @start_date + 1.week), class: 'next-week' do
    %button{ disabled: @start_date + 1.week > Shift::END_OF_TIME }
      Next week
      &rarr;
  %h2 Total hours: #{@total_hours}
  - if @shifts.none?
    = button_to "I'm working 9 to 5",
      initialize_week_shifts_url(start_date: @start_date)
  - else
    - if @submissions.empty?
      = button_to 'Submit shifts',
        submit_week_shifts_url(start_date: @start_date)
    - else
      - @submissions.each.with_index do |submission, index|
        - if index.zero?
          Shifts submitted
        - else
          Resubmitted
        = submission.created_at.strftime '%B %e, %Y at %l:%M %p'
        %br
      = button_to 'Resubmit shifts',
        submit_week_shifts_url(start_date: @start_date)
  - @dates.each.with_index do |date, index|
    - shifts = @shifts.on date
    .day
      %h3.date{ index: index }
        = date.strftime('%A, %B %e')
        - if shifts.any?
          (#{shifts.sum(&:length)} hours)
      .day-shifts
        - shifts.each do |shift|
          = form_with model: shift, local: true do |form|
            = form.label :time
            = form.text_field :time
            = form.label :length
            = form.text_field :length
            = form.hidden_field :date, value: date
            = form.submit 'Update'
            = button_to 'Destroy', shift_path(shift), method: :delete
        %button.add-shift{ data: { index: index } } +
        .new-shift{data: { index: index }}
          = form_with model: Shift.new, local: true do |form|
            = form.hidden_field :date, value: date
            = form.label :time
            = form.text_field :time, placeholder: '9:00 am'
            = form.label :length
            = form.text_field :length, placeholder: '8.0'
            = form.submit 'Create'
