Hi Betsy,
%br
%br
Here are my PVTA PROJECT hours for last week.
%br
%br
%table{style: 'margin: 10px;'}
  %thead
    %tr
      %th{style: @th_styling} Day
      %th{style: @th_styling} Start
      %th{style: @th_styling} End
      %th{style: @th_styling} Length
  %tbody
    - @shifts.each.with_index do |shift, i|
      %tr
        %td{style: @td_styling}
          - unless @shifts[i - 1].date == shift.date
            = shift.date.strftime '%A %-m/%-d'
        %td{style: @td_styling}= shift.time
        %td{style: @td_styling}= shift.end_time.strftime('%l:%M %P')
        %td{style: @td_styling}= shift.length
    %tr
      %th{colspan: 2, style: @th_styling} Total
      %th{colspan: 2, style: @th_styling}= @shifts.sum :length

%br
Thanks,
%br
%br
David
%br
%br
%i
  This is an automated email.
  Please "reply all" with any questions.
